
/* Your CSS Code here. */
body{
	margin:20px;
	padding:20px;
}
.moviePic{
	height:500px;
	width:500px;
	opacity:1.0;
}
.movieDetail{
	position:absolute;
	top:50px;
	width:none;
	text-align:center;
	font-size:30px
}